body{
    background-color: rgb(226, 227, 227);
}

.paginaP{
    background-color: bisque;
    text-align:  center;
}
.listamenu{
    background-color: white;
     height: 30px;
    list-style-type: none;
    padding: 0;

}
.listamenu li{
    display: inline-block;
    margin-right:  10px;
}


#boton-desglose{
    
    height: 31px;    
}

#desglose{
    text-align: left;

    
    background-color: rgb(16, 136, 176);
    width:   400px;
}
.botones{
    height: 40px;
    width: 120px;
    background-color: lightgray;
    
}
#resultado{
    height: auto;
    width: 70px;
    padding-top: 5px;
    border-radius: 10px;
    font-size: large;
    background-color: white;
}